 @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body,
button {
  font-family: "Righteous", cursive;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "title" "game";
}
#overlay {
  width: 100vw;
  height: 100vh;
  /* need a higher z-index to display the overlay (z2) *over* the selector (z1)*/
  z-index: 2;
  position: absolute;
  background-color: rgba(32, 32, 32, 90%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#overlay h1 {
  margin-top: 3rem;
  font-size: 3rem;
  color: #e1d5e7;
  text-shadow: 0.1em 0.1em 0 #000;
}
#overlay p {
  font-size: 9rem;
  background-image: linear-gradient(hsl(31, 100%, 80%), hsl(184, 35%, 62%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#overlay button {
  margin-top: 1rem;
  box-shadow: 4px 4px 0 #000;
}

.game {
  grid-area: game;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
  background-color: #a0ced1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "selector selector"
    "wheel wheel"
    "play score";
  justify-items: center;
  align-items: start;
}
header {
  grid-area: title;
  padding: 2rem 0;
  align-self: center;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
}
figure.selector {
  grid-area: selector;
  width: 80px;
  height: 80px;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background-color: hsl(3, 76%, 59%);
  position: relative;
  top: 105px;
  /* z-index so the selector is displayed "over" the wheel */
  z-index: 1;
}
/* You can't really create a border around a
triangle, so you have to place a second triangle
inside the first. The first becomes the "border"
of the second. */
figure.selector::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 72px;
  height: 72px;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background-color: hsl(3, 76%, 89%);
}
@keyframes spin-1 {
  100% {
    /* 360 + 45 */
    transform: rotate(405deg);
  }
}
@keyframes spin-2 {
  100% {
    /* 360 + 45 + 45 */
    /* and so on... */
    transform: rotate(450deg);
  }
}
@keyframes spin-3 {
  100% {
    transform: rotate(495deg);
  }
}
@keyframes spin-4 {
  100% {
    transform: rotate(540deg);
  }
}
@keyframes spin-5 {
  100% {
    transform: rotate(585deg);
  }
}
@keyframes spin-6 {
  100% {
    transform: rotate(630deg);
  }
}
@keyframes spin-7 {
  100% {
    transform: rotate(675deg);
  }
}
@keyframes spin-8 {
  100% {
    transform: rotate(720deg);
  }
}
figure#wheel {
  grid-area: wheel;
  width: 500px;
  height: 500px;
  background-image: url(./img/Wheel.png);
  background-position: center;
}
button,
.link-button,
figure#score-box {
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  box-shadow: 4px 4px 0 hsl(184, 35%, 50%);
}
.link-button {
  text-decoration: none;
}
button,
.link-button {
  grid-area: play;
  background-color: hsl(31, 100%, 90%);
  border: 1px solid hsl(31, 100%, 60%);
}
button:hover,
.link-button:hover {
  background-color: hsl(31, 100%, 75%);
}
button:active,
.link-button:active {
  position: relative;
  top: 4px;
  left: 4px;
  background-color: hsl(31, 100%, 95%);
  box-shadow: none;
}
#score-box {
  grid-area: score;
  width: 5.5em;
  background-color: hsl(280, 27%, 87%);
  border: 1px solid hsl(280, 27%, 57%);
}
@keyframes reveal {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  90% {
    opacity: 0%;
    visibility: visible;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}
#score {
  /* opacity: 0%; */
}

#dev {
  position: absolute;
  font-family: monospace;
  font-size: 1rem;
  padding: 1rem;
  color: #999;
}
